*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

body {
    font-family: "Viga", serif;
    font-size: 100%;
    list-style-type: none;
    background-color: #2b35ed;
    background-image: radial-gradient(#2b35ed, rgba(98, 187, 209, 0.5))
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;


}
.Botoes {
    margin: 40px 150px;
    padding: 50px 100px;
    border-radius: 20px;
    border: solid #e8e9ec;
    display: flex;
    justify-content: space-between;
    background-color: #5db7eb;
    background-image: radial-gradient(#5db7eb, rgba(28, 95, 219, 0.5))
    
    
}

.Botoes-Botao {
    background-color: #fcfc30; 
    padding: 30px 70px;
    border-radius: 20px;
    font-size: large;

}

.form {
    margin: 2rem auto; 
    padding: 2rem; color: rgb(18, 19, 19); 
    font-size: 1.25rem; color: #e8e9ec; 
    display: flex; gap: 0.5rem; 
    justify-content: space-between; 
    flex-direction: column; 
    max-width: 90%
    
}

.form2 {
    padding: 5px 70px 5px 70px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    flex-direction: row;

}

.caixa, .ncaixa {
    padding: 10px 10px;
    font-size: 25px;
    border-radius: 20px;
}

.botoessecundarios {
    margin: 1px 200px 1px 200px;
    height: 40px;
    font-size: 30px;
    border-radius: 20px;

}
.texto {
    border: #e8e9ec;
    color: black;
    border-radius: 10px;
    background-color: #fcfc30;
    padding: 05px 05px;
    margin: 5px 20px;

}

.textoresposta{
    border: #e8e9ec;
    color: black;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 10px 40px;
    margin: 5px 20px;
}